body{
    background-color: lightskyblue;
}

h1{
    text-align: center;
    font-size: 40px;
}

#tranform{
    border: 4px solid;
    width: 250px;
    height: 250px;
    font-size: 225px;
    text-align: center;
    background-color: blue;

    
    /*
        transform: translateX(50px);
        transform: translateY(50px); 
    */    
    
    transform: translate(50px);
    transform: rotateX(45deg);
    transform: rotateY(45deg);
    transform: rotateZ(45deg);
    
    /*  
        transform: scalex(2);
        transform: scaleY(2);
    */
    
    transform: scale(2, 2);

    /*
        transform: skewX(45deg);
        transform: skewY(45deg);
    */
    transform: skew(45deg, 20deg);
    

    transform: matrix(2, 45deg, -45deg, 2, 50, 50);
    /*
        a ordem de parâmetros da matrix é a seguinte:
            scaleX(),
            skewY(),
            skewX(),
            scaleY(),
            translateX(),
            translateY(),
    */
}