* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-body: #ffffe0;

  --color-base-blue: blue;
}

body {
  background-color: var(--bg-body);
  padding: 1rem;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--color-base-blue);
}
