body{
    background-color: lightgreen;
}

h1{
    text-align: center;
    font-size: 40px;
}

.box{
    width: 100px;
    height: 100px;
    border: 1px solid;
    font-size: 40px;
    text-align: center;
    background: red;

    float: left;
}

.imagem{
    display: inline;
}

#texto{
    float: right;
}