body{
    background-color: lightblue;
}

h1{
    text-align: center;
    font-size: 40px;
}

#pos1{
    border: 1px solid;
    height: 300px;
    width: 300px;
    background-color: skyblue;

    position: absolute;

    top: 500px;
    right: 500px;
}

#pos2{
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: red;

    position: sticky;

    top: 100px;
    left: 100px;
}

#pos3{
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: transparent;

    position: fixed;

    top: 100px;
    left: 100px;
}