body{
    background-color: lightblue;
}

h1{
    color: black;
    text-align: center;
    font-size: 50px;
}

#box1 {
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: lightgreen;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    text-align: center;
}

#box2 {
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: lightblue;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}